ignore
.vagrant
logs
*.log
project/project/target
project/target
target
tmp
.history
dist
.idea
*.iml
/out
.idea_modules
.classpath
.project
.settings
.DS_Store
test-output/
*.class

build

.vscode

# temp files
.~*
*~
*.orig

# eclipse
.scala_dependencies
.buildpath
.target
bin/
journal
snapshots
*.rdb
.bloop
project/.bloop
project/project/.bloop

.metals
.gradle
*/**/.kotlintest
out
